body{
    overflow: hidden;
    margin: 0 auto;
    padding: var(--header-height) 2rem;
    height: 100vh;
    min-height: var(--min-gyro-height);
    max-height: var(--max-gyro-height);
    color:#fff;
    text-align: center;
}

h1 {
    font-size: 80;
    font-weight: bold;
}
.options{
    margin: 45px;
}

.choice{
    font-size: 50;
    margin: 10px;
    font-weight: bolder;
}

a{
    color: #fff;
}

a:hover{
    color: #F8333C;
}